.searchCharacters {
  width: 100%;
  max-width: 1890px;
  margin: 0 auto;
  padding: 50px 15px;
}

.inputBlock {
  width: clamp(290px, 100%, 626px);
  margin: 0 auto;
  margin-bottom: 67px;
}

.errorMessage,
.subTitle {
  margin-top: 13px;
  margin-left: 40px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.errorMessage {
  color: var(--color-danger);
}
